<!DOCTYPE html>
<html>
<head>
	<% if(typeof(title) === 'undefined'){ %>
		<% title = 'Achieve your goals with PowerUp' %>
	<% } %>
	<title><%= title %></title>
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<% if(typeof(stylesheets) !== 'undefined'){ %>
		<% for(stylesheet in stylesheets){ %>
			<link rel="stylesheet" type="text/css" href="/css/<%= stylesheets[stylesheet] %>.css" />
		<% } %>
	<% } %>
	
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/jquery.easing.js"></script>
	<script type="text/javascript" src="/js/actions.js"></script>
	
	<% if(typeof(javascripts) !== 'undefined'){ %>
		<% for(javascript in javascripts){ %>
			<script type="text/javascript" src="/js/<%= javascripts[javascript] %>.js"></script>
		<% } %>
	<% } %>
	
	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-40073172-1', 'powerup.io');
	  ga('send', 'pageview');
	</script>
</head>
<body>
	<div id="header">
		<a href="/" id="logo"></a>

		<div class="account">
			<% if (typeof currentUser === 'undefined') { %>
				<a href="/sign_in" class="login button">
				  <span class="icon"></span>SIGN IN
				</a>
			<% }else{ %>
				<a href="/settings" class="settings button">
				  <span class="icon"></span>SETTINGS
				</a>
				<a href="/grids" class="grids button">
				  <span class="icon"></span>GRIDS
				</a>
			<% } %>
		</div>
	</div>
	<div id="page">
	  <% if (typeof flash !== 'undefined') { %>
	    <% for (msg in flash) { %>
  	    <p class="flash <%- msg %>"><%- flash[msg] %></p>
  	    <% delete flash[msg]; %>
  	  <% } %>
	  <% } %>