<% include ../partials/head.ejs %>

<h1>EDIT GRID</h1>
<form action="/grids/<%= grid.slug %>" method="post" id="new_grid">
  <div class="field">
		<label>GOAL</label>
    <input type="text" name="grid[name]" class="goal required" value="<%= grid.name %>" />
  </div>
  
  <div class="field">
		<label>WORK UNITS</label>
		
		<% for (var i = 0; i < grid.gridButtons.length; i++) { %>
		  <% var btn = grid.gridButtons[i]; %>
    	<input type="text" name="gridButtons[<%- btn._id %>]"
    	  value="<%= btn.workUnit %>" class="small work_unit required<% if (i === 2) { %> last <% } %>" />
    <% } %>
    
    <% for (var i = (3 - grid.gridButtons.length); i > 0; i--) { %>
      <input type="text" name="workUnits[]" value="" class="small work_unit required <% if (i === 1) { %> last <% } %>" />
		<% } %>
  </div>

	<div class="field">
		<% var grid_master = "YOU" %>
		<% if(grid.user.name){ %>
			<% grid_master = grid.user.name %>
		<% } %>
		<label>PLAYER 1</label><input type="text" disabled value="<%= grid_master %>" />
	</div>
	
	<% for (var i = 0; i < grid.collaborators.length; i++) { %>
	  <% var user = grid.collaborators[i]; %>
  	<div class="field">
  		<a href="#" class="delete">DELETE</a>
  		<label>PLAYER <%- i + 2 %></label>
  		<input type="text" disabled value="<%- user.name || user.email %>" />
  	</div>
  <% } %>
  
  <% for (var i = 0; i < invites.length; i++) { %>
	  <% var invite = invites[i]; %>
  	<div class="field">
  		<a href="#" class="delete">DELETE</a>
  		<label>PLAYER <%- i + 2 + grid.collaborators.length %></label>
  		<input type="text" disabled value="<%- invite.toParams.email %> (invite sent)" />
  	</div>
  <% } %>
  
	<button type="submit" class="submit">Save</button>
</form>

<% include ../partials/footer.ejs %>