<% include ../partials/head.ejs %>

<h1>EDIT GRID</h1>
<form action="/grids/<%= grid.slug %>" method="post" id="new_grid">
  <div class="field">
		<label>GOAL</label>
    <input type="text" name="grid[name]" class="goal required" value="<%= grid.name %>" />
  </div>

	<div class="field textarea">
		<label>ABOUT</label>
		<% var about_text = "" %>
		<% if(grid.about){ %>
			<% about_text = grid.about.replace(/&#34;/g,'"').replace(/&#39;/g, "'") %>
		<% } %>
		<textarea name="grid[about]"><%= about_text %></textarea>
		<div class="clear"></div>
	</div>

	<div class="field">
		<label>ACCESS</label>
		<select name="grid[isPrivate]">
			<% if(!grid.isPrivate){ %>
				<option value="0" selected>Public</option>
				<option value="1">Private</option>
			<% }else{ %>
				<option value="0">Public</option>
				<option value="1" selected>Private</option>
			<% } %>
		</select>
  </div>
  
  <div class="field">
		<label>WORK UNITS</label>
		
		<% for (var i = 0; i < grid.gridButtons.length; i++) { %>
		  <% var btn = grid.gridButtons[i]; %>
    	<input type="text" name="gridButtons[<%- btn._id %>]"
    	  value="<%= btn.workUnit %>" class="small work_unit required<% if (i === 2) { %> last <% } %>" />
    <% } %>
    
    <% for (var i = (3 - grid.gridButtons.length); i > 0; i--) { %>
      <input type="text" name="workUnits[]" value="" class="small work_unit required <% if (i === 1) { %> last <% } %>" />
		<% } %>
  </div>

	<div class="field">
		<% var grid_master = "YOU" %>
		<% if(grid.user.name){ %>
			<% grid_master = grid.user.name %>
		<% } %>
		<label>PLAYER 1</label><input type="text" disabled value="<%= grid_master %>" />
	</div>
	
	<% for (var i = 0; i < grid.collaborators.length; i++) { %>
	  <% var user = grid.collaborators[i]; %>
  	<div class="field">
  		<a href="#" class="delete user" data-user="<%- user._id %>" data-grid-slug="<%- grid.slug %>">DELETE</a>
  		<label>PLAYER <%- i + 2 %></label>
  		<input type="text" disabled value="<%- user.name || user.email %>" />
  	</div>
  <% } %>
  
  <% for (var i = 0; i < invites.length; i++) { %>
	  <% var invite = invites[i]; %>
  	<div class="field">
  		<a href="#" class="delete invite" data-invite="<%- invite._id %>">
  		  DELETE</a>
  		<label>PLAYER <%- i + 2 + grid.collaborators.length %></label>
  		<input type="text" disabled value="<%- invite.toParams.email %> (invite sent)" />
  	</div>
  <% } %>
  
	<button type="submit" class="submit">Save</button>
</form>

<script type="text/javascript" src="/js/edit_grid.js"></script>
<% include ../partials/footer.ejs %>