<% include ../partials/head.ejs %>

<ul id="grid" class="large" data-grid-id="<%- grid._id %>"></ul>

<div id="content">
	<div class="heading">
		<% if(grid.user.name){ %>
		<div class="author">
			<%= grid.user.name %>
		</div>
		<% } %>
		<h1><%= grid.name %></h1>
	</div>
	
	<% if(currentUser && String(grid.user._id) == String(currentUser._id)){ %>
		<div class="legend">
		  <% var colors = ['black', 'blue', 'red']; %>
		  <% for (var i = 0; i < grid.gridButtons.length; i++) { %>
				<button class="powerup <%= colors[i] %>" data-powerup-num="<%= grid.gridButtons[i].increment %>" data-color="<%= colors[i] %>">
					<span class="plus"></span>
					<span><%= grid.gridButtons[i].workUnit %></span>
				</button>
			<% } %>
		</div>
	<% } %>

	<div class="progress"></div>
	
	<div class="share">
		<% var share_url = encodeURIComponent("http://powerup.io/grids/"+grid.slug) %>
	
		<% var tweet = encodeURIComponent("Help me reach my goal: "+grid.name) %>
		<a target="_blank" href="https://twitter.com/share?url=<%- share_url %>&related=powerupio&text=<%- tweet %>"><img src="/img/twitter.png"></a>
		
		<% var fb_title = encodeURIComponent("Help me reach my goal: "+grid.name) %>
		<% var fb_text = encodeURIComponent("PowerUp helps you achieve your goals by giving you simple, visual tools to track each step along the way.") %>
		<a target="_blank" href="http://www.facebook.com/sharer.php?p[title]=<%- fb_title %>&p[summary]=<%- fb_text %>&p[url]=<%- share_url %>&p[images][0]=http%3A%2F%2Fpowerup.io%2Fimg%2Ficon_powerup.png"><img src="/img/facebook.png"></a>

		<a target="_blank" href="https://plus.google.com/share?url=<%- share_url %>"><img src="/img/google+.png"></a>
	</div>
</div>
	
<% include ../partials/footer.ejs %>

<script type="text/javascript" src="/js/grid.js"></script>
<script type="text/javascript">
  $(function () {
    grid = JSON.parse('<%- JSON.stringify(grid) %>');
    
    PowerUp.GridMaster.initializeGrid();
    PowerUp.GridMaster.populateGrid(grid);
  });
</script>
