<% include ../partials/head.ejs %>

<ul id="grid" class="large" data-grid-id="<%- grid._id %>"></ul>

<div id="content">
	<div class="heading">
		<% if(grid.user.name){ %>
		<div class="author">
			<%= grid.user.name %>
		</div>
		<% } %>
		<h1><%= grid.name %></h1>
	</div>
	<div class="legend">
	  <% var colors = ['black', 'blue', 'red']; %>
	  <% for (var i = 0; i < grid.gridButtons.length; i++) { %>
			<button class="powerup <%= colors[i] %>" data-powerup-num="<%= grid.gridButtons[i].increment %>" data-color="<%= colors[i] %>">
				<span class="plus"></span>
				<span><%= grid.gridButtons[i].workUnit %></span>
			</button>
		<% } %>
	</div>

	<div class="progress"></div>
	
	<div class="share">
		<a href="/"><img src="/img/twitter.png" /></a>
		<a href="/"><img src="/img/facebook.png" /></a>
		<a href="/"><img src="/img/google+.png" /></a>
	</div>
</div>
	
<% include ../partials/footer.ejs %>

<script type="text/javascript" src="/js/grid.js"></script>
<script type="text/javascript">
  $(function () {
    grid = JSON.parse('<%- JSON.stringify(grid) %>');
    
    PowerUp.GridMaster.initializeGrid();
    PowerUp.GridMaster.populateGrid(grid);
  });
</script>
