<% include ../partials/head.ejs %>

<ul id="grid" class="large" data-grid-id="<%- grid._id %>">
  <% for (var i = 0; i < 400; i++) { %>
    <li class="inactive">
      <div class="square"></div>
    </li>
  <% } %>
</ul>

<div id="content">
	<div class="heading">
		<% if(grid.user.name){ %>
  		<div class="author">
  			<%= grid.user.name %>
  		</div>
		<% } %>
		<h1><%= grid.name %></h1>
	</div>
	
	<% var gridOwner = false; %>
	<% if (currentUser && (String(grid.user._id) === String(currentUser._id))) { %>
	  <% gridOwner = true; %>
	<% } %>
	<% var gridCollaborator = false; %>

	<% if (currentUser && collaborators.hasOwnProperty(currentUser.email)) { %>
	  <% gridCollaborator = true; %>
	<% } %>
		
	<% var gridClass = "disabled"; %>
	<% if (gridOwner) { %>
		<% gridClass = ""; %>
	<% } else if (gridCollaborator) { %>
	  <% gridClass = ""; %>
	<% } %>
	<div class="legend">
	  <% var colors = ['black', 'blue', 'red']; %>
	  <% for (var i = 0; i < grid.gridButtons.length; i++) { %>
			<button class="powerup <%= colors[i] %> <%= gridClass %>" data-color="<%= colors[i] %>">
				<% if (gridOwner || gridCollaborator) { %>
					<span class="plus"></span>
				<% } %>
				<span><%= grid.gridButtons[i].workUnit %></span>
			</button>
		<% } %>
	</div>

	<div class="sections">
		<div class="section progress">
			<div id="progress_section" class="s1">
				<div class="nav" style="display:none">
					<button class="s1">OVERALL</button>
					<button class="s2">MOOD</button>
					<button class="s3">WEIGHT</button>
				</div>
				<div class="s1">
					<div class="percent"></div>
				</div>
				<div class="s2">
				</div>
				<div class="s3">
				</div>
			</div>
		</div>
		<% if(grid.about){ %>
			<div class="section about" style="display:none;">
				<h3>ABOUT THIS GRID</h3>
				<%- aboutHTML %>
			</div>
		<% } %>
		<div class="section collaborators" style="display:none;">
			<table>
				<tr>
					<th>User</th>
					<% for (var i = 0; i < grid.gridButtons.length; i++) { %>
						<th><%= grid.gridButtons[i].workUnit %></th>
					<% } %>
					<th>Total</th>
				</tr>
				
				<% var user = collaborators[grid.user.email]; %>
				<% delete user._id; %>
				<tr>
			  	<td class="user" data-user-id="<%- grid.user._id %>">
			  	  <% if (grid.user.name) { %>
			  	    <%- grid.user.name %>
					  <% } else { %>
						  Grid Master
					  <% } %>
					</td>
					
					<% var colors = ['black', 'blue', 'red']; %>
					<% for (var i = 0; i < grid.gridButtons.length; i++) { %>
						<td class="<%- colors[i] %>"><%- user[colors[i]] || '0' %></td>
					<% } %>
					<td class="total"><%- user['total'] || '0' %></td>
				</tr>
				<% delete collaborators[grid.user.email]; %>
				
				<% for (email in collaborators) { %>
				  <% powerUps = collaborators[email] %>
				  				  
			  	<tr>
  					<td class="user" data-user-id="<%- collabInfo[email].id %>">
  					  <% if (collabInfo[email] && collabInfo[email].name) { %>
  					    <%- collabInfo[email].name %>
  					  <% } else { %>
  					    <%- gridOwner ? email : "Player " + (i + 2) %>
  					  <% } %>
  					</td>
  					<% for (var i = 0; i < colors.length; i++) { %>
  					  <% var color = colors[i]; %>
  					  <td class="<%- color %>"><%- powerUps[color] || '0' %></td>
  					<% } %>
  					<td class="total"><%- powerUps.total || '0' %></td>
  				</tr>
  			<% } %>
  			<% if (gridOwner) { %>
  			  <% for (var i = 0; i < invites.length; i++) { %>
  			    <% var invite = invites[i]; %>
    			  <tr>
    					<td><%- invite.toParams.email %></td>
    					<td colspan="<%= grid.gridButtons.length+1 %>">
    					  Invite <%- invite.isAccepted ? "Accepted" : "Sent" %></td>
    				</tr>
    			<% } %>
  			<% } %>
				
			</table>
			<% if (gridOwner) { %>
  			<form action="/grids/<%= grid.slug %>/collaborators" method="post">
  	      <div class="field">
  	        <input type="text" class="text" name="collaborators" size="40"
  	          placeholder="Email" />
  	      </div>
  	      <div class="submit">
  	        <button type="submit" class="submit">Invite</button>
  	      </div>
  	    </form>
      <% } %>
		</div>
	</div>
	
	<% if(!grid.isPrivate){ %>
		<div class="share">
			<% var share_url = encodeURIComponent("http://powerup.io/grids/"+grid.slug) %>
	
			<% var tweet = encodeURIComponent("Help me reach my goal: "+grid.name) %>
			<a target="_blank" href="https://twitter.com/share?url=<%- share_url %>&related=powerupio&text=<%- tweet %>"><img src="/img/twitter.png"></a>
		
			<% var fb_title = encodeURIComponent("Help me reach my goal: "+grid.name) %>
			<% var fb_text = encodeURIComponent("PowerUp helps you achieve your goals by giving you simple, visual tools to track each step along the way.") %>
			<a target="_blank" href="http://www.facebook.com/sharer.php?p[title]=<%- fb_title %>&p[summary]=<%- fb_text %>&p[url]=<%- share_url %>&p[images][0]=http%3A%2F%2Fpowerup.io%2Fimg%2Ficon_powerup.png"><img src="/img/facebook.png"></a>

			<a target="_blank" href="https://plus.google.com/share?url=<%- share_url %>"><img src="/img/google+.png"></a>
		</div>
	<% } %>
	
	<div class="collaborate" style="display:none">
    <form action="/grids/<%= grid.slug %>/collaborators" method="post"
      class="new_collaborator">
      <div class="field">
        <input type="text" class="text" name="collaborators" size="40"
          placeholder="Email collaborators (comma-separated)" />
      </div>
      <div class="submit">
        <button type="submit" class="submit">Add</button>
      </div>
    </form>
    <div class="expand button">COLLABORATE</div>
  </div>

	<div class="controls">
		<button data-show="progress" class="stats active"><span class="icon"></span>Stats</button>
		<button data-show="collaborators" class="users"><span class="icon"></span>Collaborators</button>
		<% if(grid.about){ %>
			<button data-show="about" class="about"><span class="icon"></span>About</button>
		<% } %>
	</div>
</div>

<% if(gridOwner && grid.powerUps.length == 0 && gridCount == 1){ %>
	<div id="demo_screen"></div>
	<ul id="demo">
		<li>
			<h1>GRID INTRO</h1>
			<p>Grids are a way to track your projects. The squares on the left are called PowerUps. Every time you complete a small task click the corresponding button on the right. A PowerUp will light up in your Grid.</p>
			<p>Use PowerUp grids whenever you start a new project. Good luck!</p>
			<div class="center">
				<button>Try it!</button>
			</div>
		</li>
	</ul>
<% } %>

<% include ../partials/footer.ejs %>

<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
	color:#fff;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #68dcaa;
  stroke-width: 3px;
}

</style>

<script type="text/javascript" src="/js/grid.js"></script>
<script type="text/javascript" src="/js/powerup.js"></script>
<script type="text/javascript">
  $(function () {
    var Grid = PowerUp.Models.Grid,
      User = PowerUp.Models.User,
      GridView = PowerUp.Views.GridView,
      GridContentView = PowerUp.Views.GridContentView;
    
    var grid = new Grid(JSON.parse('<%- JSON.stringify(grid) %>'));
    grid.view = new GridView({
      el: $("#grid"),
      model: grid
    });
    
    new GridContentView({
      el: $("#content"),
      model: grid
    });
    
    <% if (typeof currentUser !== 'undefined') { %>
       PowerUp.currentUser = new User(
         JSON.parse('<%- JSON.stringify(currentUser) %>'));
    <% } %>
  });
  
	var margin = {top: 60, right: 20, bottom: 30, left: 50},
	    width = 700 - margin.left - margin.right,
	    height = 300 - margin.top - margin.bottom;

	var parseDate = d3.time.format("%d-%b-%y").parse;

	var x = d3.time.scale()
		.range([0, width]);

	var y = d3.scale.linear()
		.range([height, 0]);

	var xAxis = d3.svg.axis()
		.scale(x)
		.orient("bottom");

	var yAxis = d3.svg.axis()
		.scale(y)
		.orient("left");

	var line = d3.svg.line()
		.x(function(d) { return x(d.date); })
		.y(function(d) { return y(d.close); });
	
	var svg = d3.select("#progress_section div.s2").append("svg")
		.attr("width", width + margin.left + margin.right)
	  .attr("height", height + margin.top + margin.bottom)
	  .append("g")
	  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
	
	var data = [
		{ date:"1-May-12", close:13 },
		{ date:"2-May-12", close:34 },
		{ date:"3-May-12", close:23 },
		{ date:"4-May-12", close:56 },
		{ date:"5-May-12", close:12 },
		{ date:"6-May-12", close:15 },
		{ date:"7-May-12", close:35 },
		{ date:"8-May-12", close:21 },
		{ date:"9-May-12", close:15 },
		{ date:"10-May-12", close:37 }
	]
	
	data.forEach(function(d) {
		d.date = parseDate(d.date);
		d.close = +d.close;
	});

	x.domain(d3.extent(data, function(d) { return d.date; }));
  y.domain(d3.extent(data, function(d) { return d.close; }));

  svg.append("g")
  	.attr("class", "x axis")
 		.attr("transform", "translate(0," + height + ")")
  	.call(xAxis);

  svg.append("g")
  	.attr("class", "y axis")
  	.call(yAxis);

  svg.append("path")
  	.datum(data)
  	.attr("class", "line")
  	.attr("d", line);
</script>
